.hero {
  height: calc(100vh - 110px);
}

.text-shadow {
  text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000,
    5px 5px 0px rgba(0, 0, 0, 0.2);
}
.btn-shadow {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
